################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CpuSchedulingWinForms/FileContentIndex/0f7ff4c8-a3b8-4eb4-a96e-88646362d4b4.vsidx
/.vs/CpuSchedulingWinForms/FileContentIndex/a29dcf79-dec3-4f4e-97e9-e0b23f906fa8.vsidx
